<!DOCTYPE html>
<html lang="ru" class="no-js js desktop landscape" dir="ltr">
<head>
    <meta charset="{{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <style media="screen" type="text/css">
        @import url("{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css', absolute=true) }}");
        @import url("{{ asset('bower_components/bootstrap/dist/css/bootstrap-theme.min.css', absolute=true) }}");
        @import url("{{ asset('bower_components/bootstrap/dist/css/bootstrap-social.css', absolute=true) }}");
        @import url("{{ asset('bower_components/bootstrap/dist/css/font-awesome.css', absolute=true) }}");
        @import url("{{ asset('bundles/app/css/custom.css', absolute=true) }}");
    </style>
    <script src="{{ asset('bundles/app/js/CategoryMenu.js', absolute=true) }}"></script>
</head>
<body>
<div class="container">

    {% include('AppBundle:Component:header.html.twig') %}

    <div class="row">
        <aside class="col-md-3 container-fluid">
            {% include('AppBundle:Component:blocks.html.twig') %}
        </aside>
        <section class="col-md-9 az-main">
            <div class="container-fluid">

                {% block body %}{% endblock %}

            </div>
        </section>
    </div>


    {% block before_footer %}{% endblock %}
    {% include('AppBundle:Component:footer.html.twig') %}
</div>
</body>
</html>
