{#{{ dump(item) }}#}
{% if item.picture.image and item.picture.image.getFilename() %}
    {% set img = '/files/pictures/thumb/' ~ item.picture.image.getFilename() %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
{% endif %}
<div class="row az-order-cart container-fluid">

    <div class="col-md-3 text-center az-order-cart-item az-cart-img-cell">

            <a href="{{ path('picture', {'id': item.id}) }}"><img src="{{ img }}" class="az-order-cart-item-img"></a>
        </div>

            <div class="col-md-3 az-order-cart-item">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('picture', {'id': item.id}) }}">"{{ item.picture.title }}"</a></div></div>
                <div class="row">
                <div class="col-md-12">Размер: {{ item.sizes }} см</div></div>
                <div class="row">
                    <div class="col-md-12">Тип изделия: {{ item.type_value }}</div></div>
                <div class="row">
                    <div class="col-md-12">Толщина подрамника: {{ item.underframe_value }} </div></div>
            </div>


        <div class=" col-md-3 az-order-cart-item container-fluid">
            <div class="row">
                <div class="col-md-6 text-right container-fluid az_btn_postpone">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn_az-main-popular_defer delete_order-bnt" data-id="{{ item.id }}">Удалить из корзины</button>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn_az-main-popular_defer delete_order-bnt" data-id="{{ item.id }}">Изменить</button>
                            </div>
                        </div>
                    </div></div></div></div>
        <div class="col-md-3 az-order-cart-item">
                        <div class="row">
                        <div class="col-md-12 text-left_artik">
                            Цена: {{ item.price }} руб.
                        </div></div>

                    </div>

    </div>
<div class="row container-fluid">

    <div class="col-md-6">
        <button class="btn_az-main-popular_defer delete_order-bnt" data-id="{{ item.id }}">Изменить</button>
    </div>
<div class="col-md-6 text-center az-picture-page-sidebar-header-block az-picture-page-sidebar-price ">Стоимость заказа:
    <span class="az-picture-page-sidebar-price-value">0</span> BYN
</div>
</div>


