<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row text-left">
            <div class="col-md-3 col-sm-3 container-fluid az-header-top">
                <div class="row az-logo-title-img-div">
                    <a class="" href="http://poster.webeasysoft.com" {% if site_settings is defined and site_settings and site_settings.logo is defined and site_settings.logo %}
                        {% set site_logo = '/' ~ site_settings.logo %}
                    {% else %}
                        {% set site_logo = asset('bundles/app/images/logo.png') %}
                    {% endif %}
                    ><img src="{{ site_logo }}" class="az-logo-title-img" title="{% trans %}Logo{% endtrans %}"/></a>
                </div>
                <div class="row az-logo-title-text-div">
                    {% if site_settings is defined and site_settings and site_settings.logo_header_text is defined and site_settings.logo_header_text %}
                        {{ site_settings.logo_header_text|raw }}
                    {% endif %}
                </div>
            </div>
            {% set isEnableCall = site_settings.enable_call_back is defined and site_settings.enable_call_back %}
            {% set isEnablePicture = site_settings.enable_own_picture is defined and site_settings.enable_own_picture %}
            <div class="col-md-{% if not isEnableCall and not isEnablePicture %}7
            {% elseif not isEnableCall and  isEnablePicture %}5
            {% elseif isEnableCall and not isEnablePicture %}6
            {% else %}4{% endif %} col-sm-{% if not isEnableCall and not isEnablePicture %}7
            {% elseif not isEnableCall and  isEnablePicture %}5
            {% elseif isEnableCall and not isEnablePicture %}6
            {% else %}4{% endif %} container-fluid az-header-top">
                <div class="row">
                    <div class="col-md-12 col-sm-12 container-fluid az-header-address-div">
                        <div class="row az-header-address-container az-header-phone-number">
                            {% if site_settings is defined and site_settings and site_settings.info_text is defined and site_settings.info_text %}
                                {{ site_settings.info_text|raw }}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            {% if isEnableCall %}
                <div class="col-md-1 col-sm-1 container-fluid az-header-top">
                    <div class="row az-header-address-container az-header-feedback-btn-div">
                        <div class="col-md-12 col-sm-12">
                            <button class="btn btn-bg az-header-feedback-btn" data-toggle="modal" data-target="#myModal1">
                                Обратный <br/> звонок
                            </button>
                            <!-- Form itself -->
                            <div id="myModal1" class="modal fade" role="dialog">
                                <div class="modal-dialog az-feedback-modal">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">х</button>
                                            <form id="callback">
                                                <div class="col-md-12 col-sm-12 form-line">
                                                    <h3>Заказать звонок</h3>
                                                    <div class="form-group ">
                                                        Нет времени или возможности позвонить? Оставьте свой номер телефона
                                                        и наш менеджер свяжется с вами в течение 15 минут
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="full_name">Имя*:</label>
                                                        <input type="text" class="form-control" name="fullname"
                                                               placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="telephone">Контактный телефон*:</label>
                                                        <input type="tel" class="form-control" name="telephone"
                                                               placeholder=" ">
                                                    </div>
                                                    <div class="form-group">

                                                        <button type="submit" class="btn btn-default submit"> Заказать
                                                            звонок
                                                        </button>

                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="successCallbackForm" class="modal fade" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content az-picture-page-hint-modal-div ">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4 class="modal-title">Обратный звонок</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div>Мы перезвоним вам в ближайшее время, Спасибо!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="errorCallbackForm" class="modal fade" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content az-picture-page-hint-modal-div ">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4 class="modal-title">Обратный звонок</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div>Произошли технические неполатки. Попробуйте еще раз через пару минут.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if isEnablePicture %}
                <div class="col-md-2 col-sm-2 container-fluid az-header-top">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 az-header-download" data-toggle="modal" data-target="#myModal">
                            <div class="row">
                                <div class="col-md-3 col-sm-1"></div>
                                <div class="col-md-3 col-sm-2 az-header-download-icon">
                                    <img src="{{ asset('bundles/app/images/download.png') }}"
                                         class="az-download-title-img az-basket-title-img"
                                         title="{% trans %}download{% endtrans %}"/>
                                </div>
                                <div class="col-md-6 col-sm-6 container-fluid az-header-download-div">
                                    Загрузить свои изображения
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Form download -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog az-feedback-modal">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">+</button>
                                    <form>
                                        <div class="col-md-12 col-sm-12 form-line">
                                            <h3>Загрузка своего изображения</h3>
                                            <div class="form-group az-comment">
                                                Вы можете загрузить свое изображение и заказать из него в констукторе картину любого размера и типа.
                                                Загрузка изображения может потребовать определенного времени, обязательно дождитесь
                                                окончания процесса!
                                            </div>
                                            <div class="form-group">
                                                <label class="az-form-choose-file" for="exampleInputFile">Выберете файл на
                                                    компьютере</label>
                                                <input class="az-form-download-file" type="file" class="form-control-file"
                                                       accept="image/*" aria-describedby="fileHelp">
                                                <small id="fileHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="az-form-download-error"><span>Размер файла превышает 10 Mb</span></div>

                                            <div class="form-group az-form-btn-download">

                                                <button type="button" class="btn btn-default submit">Загрузить<i class="fa fa-refresh fa-spin"></i></button>

                                            </div>
                                            <div class="form-group az-comment-bottom">
                                                Формат загружаемого изображения <span
                                                        style="color: #fd1200">jpeg, gif или png</span> , максимальный
                                                размер <span style="color: #fd1200">{{ size_limit }} Mb</span>.
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>


                    </div>

                </div> {% endif %}

            <!-- Basket -->
            <div class="col-md-2 col-sm-2 container-fluid text-right">
                <div class="row text-right">
                    <div class="col-md-3 hidden-sm"></div>
                    <div class="col-md-3 col-sm-2 az-main-page-header-top-cells az-main-page-header-icon-cell" data-toggle="modal" data-target="#myModal2">
                        <img src="{{ asset('bundles/app/images/basket.png') }}" class="az-basket-title-img"
                             title="{% trans %}basket{% endtrans %}"/>
                    </div>
                    <div class="col-md-6 col-sm-7 container-fluid text-left az-main-page-header-top-cells az-header-basket-div">
                        <div class="row az-header-basket-container az-header-basket-text">
                            <div class="col-md-12 col-sm-12 az-header-download" data-toggle="modal" data-target="#myModal2">
                                Корзина
                            </div>

                            <!-- Form basket -->
                            <div id="myModal2" class="modal fade" role="dialog">
                                <div class="modal-dialog az-ordersmall-cart-modal">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        {% include('AppBundle:Component:Blocks/cart.html.twig') %}
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row az-header-basket-container az-header-basket-count-text">
                            <div class="col-md-12 col-sm-12 " data-toggle="modal" data-target="#myModal2">Товаров: <span class="az-header-basket-count">0</span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid az-main-page-top-menu-div">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if site_blocks is defined and site_blocks and site_blocks.MainMenu %}
                <ul class="nav navbar-nav">
                    {% for menu in site_blocks.MainMenu %}
                        <li {% if menu.getUrl() == active_menu %}class="active"{% endif %}>
                            <a href="{{ menu.getUrl() }}">
                                {% if menu.image %}
                                    <img src="/files/main_menu/{{ menu.image.getFilename() }}"/>
                                {% endif %}
                                {{ menu.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="col-sm-3 col-md-3 pull-right az-main-page-search">
                <form class="navbar-form" role="search" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск" name="query" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>