{% if item.picture.image and item.picture.image.getFilename() %}
    {% set img = '/files/pictures/thumb/' ~ item.picture.image.getFilename() %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
{% endif %}
<div class="col-md-4 col-sm-4 az-popular-item container">
    <div class="row text-center az-main-popular-item-img-div">
        <div class="col-md-12 col-sm-12">
            <a href="{{ path('picture', {'id': item.id}) }}"><img src="{{ img }}" class="az-main-popular-item-img"></a>
        </div>
    </div>
    <div class="row">
        <div class="az-main-popular-item-header-category">
            <a href="{{ path('picture', {'id': item.id}) }}">"{{ item.picture.title }}"</a>
        </div>
    </div>
    <div class="row">
        <div class="az-main-popular-item-header-buttons container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-right container-fluid az_btn_postpone">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <button class="btn_az-main-popular_defer delete_order-bnt delete_cart-btn" data-id="{{ item.id }}">Удалить из корзины</button>
                        </div>
                    </div>
                    <div class="row az-main-popular-item-header-buttons">
                        <div class="col-md-12 col-sm-12 text-left_artik">
                            Артикул: {{ item.picture.code }}
                        </div>
                        <div class="col-md-12 col-sm-12 text-left_artik">
                            Размер: {{ item.sizes }} см
                        </div>
                        <div class="col-md-12 col-sm-12 text-left_artik">
                            Цена: {{ item.price }} руб.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>