{% if picture.image and picture.image.getFilename() %}
    {% set img = '/files/pictures/thumb/' ~ picture.image.getFilename() %}
    {% set imgPath = picture.image.getThumbBaseFile() %}
    {% set imgSize = filesize(imgPath) %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgSize = [245, 200] %}
{% endif %}
<div class="col-md-4 col-sm-6 az-popular-item-my container-fluid">
    <div class="row text-center az-main-popular-item-img-div">
        <div class="col-md-12 col-sm-12 az-main-popular-item-img show-constructor-img-lazy"
             data-src="{{ img }}"
             data-id="{{ picture.id }}"
             data-type="Баннер"
             data-width={{ imgSize[0] }}
             data-height={{ imgSize[1] }}
             data-left=0
             data-top=06
             data-pad-left=4
             data-pad-top=4
             data-butt=6
             data-butt-portrait=6
             date-fill-in="1"
             data-code="single|{horizontal|100-100-0}"
             data-max-width="245"
             data-max-height="240"
             data-href="{{ path('my_file_page', {'id': picture.id}) }}"
        ></div>
    </div>
    <div class="row az-main-popular-item-header-category-row">
        <div class="col-md-12 col-sm-12 padding_left_right_0">
            {% if picture.image.getName()|length > 32 %}
                {% set picture_title = picture.image.getName()|slice(0, 29) ~ '...' %}
            {% else %}
                {% set picture_title = picture.image.getName() %}
            {% endif %}
            <a href="{{ path('my_file_page', {'id': picture.id}) }}">{{ picture_title }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 az-main-popular-item-header-buttons container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-right container-fluid az_btn_postpone">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <button class="btn_az-main-popular_defer delete-myfiles-bnt" data-id="{{ picture.id }}">Удалить</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 az_btn_order text-left">
                    <a href="{{ path('my_file_page', {'id': picture.id}) }}"
                       class="btn_az-main-popular_order">Выбрать <br/>тип картины,<br/> размер, цена, <br/>заказать</a>
                </div>
            </div>
        </div>
    </div>
</div>