{% if picture.image is defined and picture.image and picture.image.getFilename() %}
    {% set img = '/files/pictures/thumb/' ~ picture.image.getFilename() %}
    {% set imgPath = picture.image.getThumbBaseFile() %}
    {% set imgSize = filesize(imgPath) %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgPath = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgSize = filesize(imgPath) %}
{% endif %}
{% set isModule = module_active is defined and module_active %}
{% if isModule and moduleTypes is defined and moduleTypes and previousFormula is defined %}
    {% set randomModuleFormula = random(moduleTypes).formula %}
    {% if randomModuleFormula == previousFormula %}
        {% set randomModuleFormula = random(moduleTypes).formula %}
    {% endif %}
    {% set previousFormula = randomModuleFormula %}
{% elseif isModule and moduleTypes is not defined %}
    {% set randomModuleFormula = 'single|{horizontal|15-70-15:35-100-0:25-100-5:25-70-15}' %}
{% else %}
    {% set randomModuleFormula = 'single|{horizontal|100-100-0}' %}
{% endif %}
{% if module_active is defined and module_active %}
    {% set picture_url = path('picture', {'id': picture.id, 'type': 'module'}) %}
{% else %}
    {% set picture_url = path('picture', {'id': picture.id}) %}
{% endif %}

{% if site_settings is defined and site_settings %}
    {% if site_settings.enable_banner is defined and site_settings.enable_banner %}
        {% set type_value = "Баннер" %}
    {% elseif site_settings.enable_frame is defined and site_settings.enable_frame %}
        {% set type_value = "В раме" %}
    {% elseif site_settings.enable_module is defined and site_settings.enable_module %}
        {% set type_value = "Модульная" %}
    {% else %}
        {% set type_value = "Баннер" %}
    {% endif %}
{% else %}
    {% set type_value = "Баннер" %}
{% endif %}
<div class="col-md-4 az-popular-item container">
    <div class="row az-main-popular-item-img-div">
        <div class="col-md-12 az-main-popular-item-img show-constructor-img-lazy"
             data-src="{{ img }}"
             data-id="{{ picture.id }}"
             data-type="{{ type_value }}"
             data-width={{ imgSize[0] }}
             data-height={{ imgSize[1] }}
             data-left=2
             data-top=2
             data-pad-left=14
             data-pad-top=4
             data-butt=6
             data-butt-portrait=6
             data-code="{% if module_active or type_value == "Модульная" %}{{ module_formulas[i].formula }}{% elseif type_value == 'В раме' %}{{ item.module_formula }}{% else %}single|{horizontal|100-100-0}{% endif %}"
             data-max-width="246"
             data-max-height="240"
             data-href="{{ picture_url }}"
             data-fill-in="1"
             data-img-corner="{{ item.frame_material_corner }}"
             data-img-side-t="{{ item.frame_material_side_t }}"
             data-img-side-r="{{ item.frame_material_side_r }}"
             data-img-side-b="{{ item.frame_material_side_b }}"
             data-img-side-l="{{ item.frame_material_side_l }}"
        >
        </div>
    </div>
    <div class="row">
        <div class="az-main-popular-item-header-category">
            {% if picture.title|length > 58 %}
                {% set picture_title = picture.title|slice(0, 55) ~ '...' %}
            {% else %}
                {% set picture_title = picture.title %}
            {% endif %}

            <a href="{{ picture_url }}">"{{ picture_title }}"</a>
        </div>
    </div>
    <div class="row">
        <div class="az-main-popular-item-header-category">
            {% set isPictureAuthor = picture.author is defined and picture.author %}
            {% if isPictureAuthor and picture.author.slug is defined and picture.author.slug %}
                {% set author_url = path('author', {'slug': picture.author.slug}) %}
            {% else %}
                {% set author_url = '#' %}
            {% endif %}
            {% if isPictureAuthor and picture.author.name is defined and picture.author.name %}
                {% set author_name = picture.author.name %}
            {% else %}
                {% set author_name = '-' %}
            {% endif %}
            <span class="az_author"> Автор:</span> <a href="{{ author_url }}"> {{ author_name }}</a>
        </div>
    </div>
    {% if mainCategoryId is defined and mainCategoryId %}
        {% set limitCategory = 6 %}
        {% set catId = mainCategoryId %}
    {% else %}
        {% set limitCategory = 5 %}
        {% set catId = 0 %}
    {% endif %}
    {% if picture.categories is defined and picture.categories and picture.categories and (( catId > 0 and picture.categories|length > 1 ) or
    ( catId == 0 and picture.categories|length > 0 )
    ) %}
        <div class="row">
            <div class="az-main-popular-item-header-category">
                <span class="az_author"> Категории:</span>
                {% for cat in picture.categories|slice(0, limitCategory) %}
                    {% if cat.id != catId %}
                        <a href="{{ path('category', {'slug': cat.slug}) }}"> {{ cat.title }}</a> {% if loop.last == false %},{% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="az-main-popular-item-header-buttons container-fluid">
            <div class="row">
                <div class="col-md-6 text-right container-fluid az_btn_postpone">
                    <div class="row">
                        <div class="col-md-12">
                            {% if deferredItems is defined and  deferredItems and picture.id in deferredItems %}
                                <a href="{{ path('deferred') }}" class="btn_az-main-popular_defer">Отложено</a>
                            {% else %}
                                <button class="btn_az-main-popular_defer defer-bnt" data-id="{{ picture.id }}">
                                    Отложить
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row az-main-popular-item-header-buttons">
                        <div class="col-md-12 text-left_artik">
                            Артикул: {{ picture.code }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 az_btn_order text-left">
                    <a href="{{ picture_url }}"
                       class="btn_az-main-popular_order">Выбрать <br/>тип картины,<br/> размер, цена, <br/>заказать</a>
                </div>

            </div>
        </div>
    </div>
</div>