{% if pictureMain.image and pictureMain.image.getFilename() %}
    {% set img = '/files/pictures/thumb/' ~ pictureMain.image.getFilename() %}
    {% set imgPath = pictureMain.image.getThumbBaseFile() %}
    {% set imgSize = filesize(imgPath) %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgPath = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgSize = filesize(imgPath) %}
{% endif %}
{% set imgCorner = '' %}
{% set imgSideTop = '' %}
{% set imgSideRight = '' %}
{% set imgSideBottom = '' %}
{% set imgSideLeft = '' %}
{% if type.images|length > 0 %}
    {% for imgThick in type.images %}
        {% if loop.index == 2 %}
            {% set imgCorner = '/files/frames/' ~ imgThick.getFilename() %}
        {% elseif loop.index == 3 %}
            {% set imgSideTop = '/files/frames/' ~ imgThick.getFilename() %}
        {% elseif loop.index == 4 %}
            {% set imgSideRight = '/files/frames/' ~ imgThick.getFilename() %}
        {% elseif loop.index == 5 %}
            {% set imgSideBottom = '/files/frames/' ~ imgThick.getFilename() %}
        {% elseif loop.index == 6 %}
            {% set imgSideLeft = '/files/frames/' ~ imgThick.getFilename() %}
        {% endif %}
    {% endfor %}
{% endif %}
{% set imgFrameThickness = 5 %}
{% if type.thickness is defined and type.thickness %}
    {% set imgFrameThickness = type.thickness %}
{% endif %}
{% if ownPicture is defined and ownPicture %}
    {% set url_entity = 'my_file_page' %}
{% else %}
    {% set url_entity = 'picture' %}
{% endif %}
<div class="col-md-4 col-sm-6 az-popular-item-frame container-fluid">
    <div class="row text-center">
        <div class="col-md-12 col-sm-12 az-page-picture-frame-cell-header">
            {{ type.title }}, {{ type.color }}, {{ type.material }}
        </div>
    </div>
    <div class="row az-main-popular-item-img-div">
        <div class="col-md-12 col-sm-12 az-main-popular-item-img show-constructor-img-lazy"
             data-src="{{ img }}"
             data-id="{{ pictureMain.id }}"
             data-type="В раме"
             data-width={{ imgSize[0] }}
             data-height={{ imgSize[1] }}
             data-left=0
             data-top=2
             data-pad-left=4
             data-pad-top=4
             data-butt=5
             data-butt-portrait={{ imgFrameThickness }}
             data-max-width="246"
             data-max-height="240"
             data-href="{{ path(url_entity, {'id': pictureMain.id, 'type': 'frame', 'frame_id': type.id }) }}"
             data-img-corner="{{ imgCorner }}"
             data-img-side-t="{{ imgSideTop }}"
             data-img-side-r="{{ imgSideRight }}"
             data-img-side-b="{{ imgSideBottom }}"
             data-img-side-l="{{ imgSideLeft }}"
        ></div>
    </div>
</div>