{% extends "AppBundle::layout.html.twig" %}

{% block title %}{% if site_settings is defined and site_settings and site_settings.seo_title is defined and site_settings.seo_title %}{{ site_settings.seo_title }}{% else %}
    Главная
{% endif %}
{% endblock %}

{% block meta_keywords %}{% if site_settings is defined and site_settings and site_settings.seo_keywords is defined and site_settings.seo_keywords %}{{ site_settings.seo_keywords }}{% else %}
    картины,картины на заказ
{% endif %}
{% endblock %}

{% block meta_description %}{% if site_settings is defined and site_settings and site_settings.seo_description is defined and site_settings.seo_description %}{{ site_settings.seo_description }}{% else %}
    картины,картины на заказ, сайт продаж картин
{% endif %}
{% endblock %}

{% block body %}
    <div class="row az-page-main-section-div az-main-slider">
        <div class="cycle-slideshow"
             data-cycle-fx=scrollHorz
             data-cycle-timeout=2000
             data-cycle-overlay-template="
             <span class=az-slider-title>{{ '{{' }}title{{ '}}' }}</span><span class='az-slider-description'>{{ '{{' }}desc{{ '}}' }}</span>"
             data-cycle-loader="true"
             data-cycle-center-horz=true
             data-cycle-center-vert=true
        >
            <!-- empty element for overlay -->
            <div class="cycle-overlay custom"></div>
            <div class="cycle-prev"></div>
            <div class="cycle-next"></div>
            {% if sliders %}
                {% for slider in sliders %}
                    <img src="/files/slider/max_thumb/{{ slider.image.filename }}"
                         data-date="{{ slider.createdAt|date('M, d') }}"
                         data-title="{{ slider.title }}"
                         data-cycle-desc="{{ slider.text }}"
                         class="az-main-page-slider-img"
                         style="display: none">
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row az-page-main-section-div container-fluid">
        <div class="row az-page-section-header az-page-main-description-header">
            {% if site_settings is defined and site_settings and site_settings.title is defined and site_settings.title %}
                {{ site_settings.title|raw }}
            {% endif %}
        </div>
        <div class="row az-page-section-body az-page-main-description">
            {% if site_settings is defined and site_settings and site_settings.under_slider_text is defined and site_settings.under_slider_text %}
                {{ site_settings.under_slider_text|raw }}
            {% endif %}
        </div>
    </div>

    <div class="row az-page-main-section-div container-fluid" id="az-page-main-popular-div" style="display: none;">
        <div class="row az-page-section-header az-page-main-popular-header">Популярное</div>
        <div class="row az-page-section-body az-page-main-popular container-fluid">
            <div class="row">
                {% if site_blocks is defined and site_blocks and site_blocks.Popular is defined and site_blocks.Popular %}
                    {% for popular in site_blocks.Popular %}
                        {% if popular.pictures is defined and popular.pictures %}
                            {% for picture in popular.pictures %}
                                {% include('AppBundle:Component:picture.cell.html.twig') %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
