{% extends "AppBundle::layout.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="row az-page-main-section-div">
        <div class="cycle-slideshow"
             data-cycle-fx=scrollHorz
             data-cycle-timeout=2000
             data-cycle-overlay-template="
             <span class=az-slider-title>{{ '{{' }}title{{ '}}' }}</span><span class='az-slider-description'>{{ '{{' }}desc{{ '}}' }}</span>"
        >
            <!-- empty element for overlay -->
            <div class="cycle-overlay custom"></div>
            <div class="cycle-prev"></div>
            <div class="cycle-next"></div>
            {% if sliders %}
                {% for slider in sliders %}
                    <img src="/files/slider/max_thumb/{{ slider.image.filename }}"
                         data-date="{{ slider.createdAt|date('M, d') }}"
                         data-title="{{ slider.title }}"
                         data-cycle-desc="{{ slider.text }}">
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row az-page-main-section-div container-fluid">
        <div class="row az-page-section-header az-page-main-description-header">Мы предлагаем</div>
        <div class="row az-page-section-body az-page-main-description">Лучший сайт картин, постеров и фотообоев на заказ! В нашей базе более 90.000 уникальных изображений для
            подбора картины вашего интерьера. Для Вас удобный выбор по темам картин любого размера. К нас Вы можете так же выбрать любую раму и паспарту к нужному изображению в
            нашем каталоге или загрузить свое. Есть возможность заказать роспись по аналогу, а также осуществить заказ картины или портрета по фото. Работаем как с юридическими
            так и с физическими лицами. И еще мы очень любим то , что делаем и постараемся Вас порадовать.
        </div>
    </div>

    <div class="row az-page-main-section-div container-fluid">
        <div class="row az-page-section-header az-page-main-popular-header">Популярное</div>
        <div class="row az-page-section-body az-page-main-popular container-fluid">
            <div class="row">
                <div class="col-md-4 container">
                    <div class="row az-main-popular-item-img-div">
                        <img src="http://malsup.github.io/images/p1.jpg" data-date="May, 2012" class="az-main-popular-item-img">
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-category">Летний день, Мерикюль</div>
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-type">Живописные холсты</div>
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-buttons container-fluid">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn">Заказать</button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn">Отложить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row az-main-popular-item-img-div">
                        <img src="http://malsup.github.io/images/p1.jpg" data-date="May, 2012" class="az-main-popular-item-img">
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-category">Летний день, Мерикюль</div>
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-type">Живописные холсты</div>
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-buttons container-fluid">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn">Заказать</button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn">Отложить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row az-main-popular-item-img-div">
                        <img src="http://malsup.github.io/images/p1.jpg" data-date="May, 2012" class="az-main-popular-item-img">
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-category">Летний день, Мерикюль</div>
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-type">Живописные холсты</div>
                    </div>
                    <div class="row">
                        <div class="az-main-popular-item-header-buttons container-fluid">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn">Заказать</button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn">Отложить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
