{% extends "AppBundle::layout.html.twig" %}

{% block title %}Автор {{ author.name }}{% endblock %}

{% block meta_keywords %}{% if site_settings is defined and site_settings and site_settings.seo_keywords is defined and site_settings.seo_keywords %}{{ site_settings.seo_keywords }}{% else %}
    картины,картины на заказ
{% endif %}
{% endblock %}

{% block meta_description %}{% if site_settings is defined and site_settings and site_settings.seo_description is defined and site_settings.seo_description %}{{ site_settings.seo_description }}{% else %}
    картины,картины на заказ, сайт продаж картин
{% endif %}
{% endblock %}

{% block body %}
    <div class="row az-page-main-section-div">
        {% include('AppBundle:Component:Blocks/breadcrumb.html.twig') %}
    </div>
    <div class="row az-page-main-section-div">
        <div class="col-md-12 col-sm-12 container-fluid">
            <div class="row page-title az-picture-page-title">{{ author.name }}</div>
            <div class="row az-category-page-filters-div">
                {% include('AppBundle:Component:Category/filter.html.twig') %}
            </div>
            {% if pagination|length > 0 %}
                <div class="row az-category-page-pictures-div">
                    <div class="row az-page-section-body az-page-main-popular container-fluid">
                        <div class="row">
                            {% for picture in pagination %}
                                {% include('AppBundle:Component:picture.cell.html.twig') %}
                            {% endfor %}
                            {% if pagination.getCurrentPageNumber()*pagination.getItemNumberPerPage() < pagination.getTotalItemCount() %}
                                <div class="col-md-4 col-sm-6 az-popular-item container-fluid" style="border: 0;">
                                    <div class="row text-center az-main-popular-item-img-div az-category-next">
                                        <div class="col-md-12 col-sm-12 category-next">
                                            <a class="az-nextpage"
                                               href="{{ path(pagination.getRoute(), pagination.getParams()|merge({'page': pagination.getCurrentPageNumber()+1})) }}"><i
                                                        class="glyphicon glyphicon-menu-right"></i><br/>Дальше</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row az-category-page-pictures-div">
                    У данного автора нет картин.
                </div>
            {% endif %}
            <div class="row az-pagination-block az-category-page-pagination-div">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="row az-visited-block az-category-page-visited-div">
                {% include('AppBundle:Component:Blocks/last.visited.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
