{% set allowedPages = ['picture', 'my_file_page'] %}
{% if app.request.attributes.get('_route') in allowedPages %}
    {% set isPicturePage = true %}
{% else %}
    {% set isPicturePage = false %}
{% endif %}
<div class="row">
    <div class="col-md-{% if not isPicturePage %}8{% else %}12{% endif %} col-sm-{% if not isPicturePage %}7{% else %}12{% endif %}">
        <nav class="breadcrumb">
            {% if site_blocks is defined and site_blocks and site_blocks.BreadCrumb is defined and site_blocks.BreadCrumb %}
                <a class="breadcrumb-item" href="/">Главная</a>
                {% for breadcrumb in site_blocks.BreadCrumb|reverse %}
                    {% set title = breadcrumb.title %}
                    {% if breadcrumb.title|length > 59 %}
                        {% set title = breadcrumb.title|slice(0, 56) ~ '...' %}
                    {% endif %}
                    {% if not loop.last %}
                        <a class="breadcrumb-item" href="{{ breadcrumb.url }}">{{ title }}</a>
                    {% else %}
                        <span class="breadcrumb-item active">{{ title }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </nav>
    </div>
    {% if not isPicturePage %}
        <div class="col-md-4 col-sm-5">
            <div class="row">
                <div class="col-md-6 col-sm-6 hidden" id="az-picture-page-sidebar-deffered-div">
                    <a href="{{ path('deferred') }}">
                        <button class="btn az-btn-delayed-image az-all-breadcrumb-buttons">Отложенные
                            <span id="az-picture-page-sidebar-deffered-div-count">0</span></button>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 hidden" id="az-picture-page-sidebar-myfiles-div">
                    <a href="{{ path('my_files') }}">
                        <button class="btn az-btn-myfiles-image az-all-breadcrumb-buttons">Мои файлы
                            <span id="az-picture-page-sidebar-myfiles-div-count">0</span></button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>