{% for categoryBlock in block %}
    <div class="col-md-12 col-sm-12 container-fluid">
        {% set category_slug = '#' %}
        {% if categoryBlock.slug is defined and categoryBlock.slug %}
            {% set category_slug = categoryBlock.slug %}
        {% endif %}
        {% set category_type = 'banner' %}
        {% set isModuleMenuItem = false %}
        {% if 'm' in categoryBlock.id %}
            {% set category_type = 'module' %}
            {% set isModuleMenuItem = true %}
        {% endif %}
        {% set isCheckNav = (isModuleMenuItem and module_active) or (not isModuleMenuItem and not module_active) %}
        {% set options = {'slug': category_slug, 'type': category_type} %}
        <a href="{{ path('category', options) }}" class="az-category-item-a">
            <div class="row az-sidebar-header az-sidebar-catalog-item-header
        {% if isCheckNav and categoryBlock.clean_id in activeCategories %}active{% endif %}"
                 data-id="{{ categoryBlock.id }}"
                 data-url="">
                <div class="col-md-12 col-sm-12 az-category-menu-item-text {% if isCheckNav and active_category_id == categoryBlock.clean_id %}active_menu{% endif %}">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <img src="{{ asset('bundles/app/images/catalog.png') }}" class="az-sidebar-block-img az-catalog-block-img"
                                 title="{{ categoryBlock.title }}"/>
                        </div>
                        <div class="col-md-10 col-sm-9">{{ categoryBlock.title }}</div>
                    </div>
                </div>
            </div>
        </a>
        {% if categoryBlock.children is defined and categoryBlock.children %}
        <div class="row category-menu children-category-{{ categoryBlock.id }}" id="children-category-{{ categoryBlock.id }}"
             style="display:{% if isCheckNav and categoryBlock.clean_id in activeCategories %}block{% else %}none{% endif %};">
            <div class="col-md-12 col-sm-12 container-fluid">
                {% for subcategory in categoryBlock.children %}
                    {% set subcategory_slug = '#' %}
                    {% if subcategory.slug is defined and subcategory.slug %}
                        {% set subcategory_slug = subcategory.slug %}
                    {% endif %}
                    {% set subcategory_type = 'banner' %}
                    {% if 'm' in subcategory.id %}
                        {% set subcategory_type = 'module' %}
                    {% endif %}
                    {% set options = {'slug': subcategory_slug, 'type': subcategory_type} %}
                    <div class="row az-sidebar-subcategory-item"
                         data-id="{{ subcategory.id }}" data-parent-id="{{ categoryBlock.id }}"
                         data-url="{{ path('category', options) }}">

                        <div class="col-md-12 col-sm-12 container-fluid az-sidebar-subcategory-first
                        {% if isCheckNav and subcategory.clean_id in activeCategories %}active_parent{% endif %}">
                            <a href="{{ path('category', options) }}" class="az-subcategory-item-a">
                                <span class="az-subcat-span {% if isCheckNav and active_category_id == subcategory.clean_id %}active_menu{% endif %}">
                                    {{ subcategory.title }}
                                </span>
                            </a>
                            {% if subcategory.children is defined and subcategory.children %}
                                <div class="row category-menu children-subcategory-{{ categoryBlock.id }}"
                                     id="children-subcategory-{{ subcategory.id }}"
                                     style="display:{% if isCheckNav and subcategory.clean_id in activeCategories %}block{% else %}none{% endif %};">
                                    <div class="col-md-12 col-sm-12 container-fluid">
                                        {% for subsubcategory in subcategory.children %}
                                            {% set subsubcategory_slug = '#' %}
                                            {% if subsubcategory.slug is defined and subsubcategory.slug %}
                                                {% set subsubcategory_slug = subsubcategory.slug %}
                                            {% endif %}
                                            {% set subsubcategory_type = 'banner' %}
                                            {% if 'm' in subsubcategory.id %}
                                                {% set subsubcategory_type = 'module' %}
                                            {% endif %}
                                            {% set options = {'slug': subsubcategory_slug, 'type': subsubcategory_type} %}
                                            <div class="row subcategory-menu az-sidebar-subsubcategory-item children-subsubcategory-{{ subcategory.id }}
                                        {% if isCheckNav and subsubcategory.clean_id == active_category_id %}active{% endif %}"
                                                 data-url="{{ path('category',options) }}"
                                                 data-id="{{ subsubcategory.id }}">
                                                <div class="col-md-12 col-sm-12 container-fluid az-sidebar-subsubcategory-first
                                            {% if isCheckNav and subsubcategory.clean_id in activeCategories %}active_parent{% endif %}">
                                                    <a href="{{ path('category',options) }}" class="az-subsubcategory-item-a">
                                                        <span class="az-subsubcat-span {% if isCheckNav and active_category_id == subsubcategory.clean_id %}active_menu{% endif %}">
                                                            {{ subsubcategory.title }}
                                                        </span>
                                                    </a>
                                                    {% if subsubcategory.children is defined and subsubcategory.children %}
                                                        <div class="row category-menu children-subsubcategory-{{ categoryBlock.id }}"
                                                             id="children-subsubcategory-{{ subsubcategory.id }}"
                                                             style="display:{% if isCheckNav and subsubcategory.clean_id in activeCategories %}block
                                                             {% else  %}none{% endif %};">
                                                            <div class="col-md-12 col-sm-12 container-fluid">
                                                                {% for subsubsubcategory in subsubcategory.children %}
                                                                    {% set subsubsubcategory_slug = '#' %}
                                                                    {% if subsubsubcategory.slug is defined and subsubsubcategory.slug %}
                                                                        {% set subsubsubcategory_slug = subsubsubcategory.slug %}
                                                                    {% endif %}
                                                                    {% set subsubsubcategory_type = 'banner' %}
                                                                    {% if 'm' in subsubsubcategory.id %}
                                                                        {% set subsubsubcategory_type = 'module' %}
                                                                    {% endif %}
                                                                    {% set options = {'slug': subsubsubcategory_slug, 'type': subsubsubcategory_type} %}
                                                                    <div class="row subsubsubcategory-menu az-sidebar-subsubsubcategory-item
                                                            children-subsubsubcategory-{{ subsubsubcategory.id }}
                                                            {% if isCheckNav and subsubsubcategory.clean_id == active_category_id %}active{% endif %}"
                                                                         data-url="{{ path('category', options) }}"
                                                                         data-id="{{ subsubsubcategory.id }}">

                                                                        <div class="col-md-12 col-sm-12 az-subsubsubcategory-item-img">

                                                                            <a href="{{ path('category',options) }}" class="az-subsubsubcategory-item-a">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-2">
                                                                                        <span class="az-subsubsubcat-span"></span>
                                                                                    </div>
                                                                                    <div class="col-md-10 col-sm-10 az-subsubsubcat-span-text
                                                                                    {% if isCheckNav and active_category_id == subsubsubcategory.clean_id %}active_menu{% endif %}">
                                                                                        {{ subsubsubcategory.title }}
                                                                                    </div>
                                                                                </div>
                                                                                {#<span class="az-subsubsubcat-span#}
                                                                                {#{% if isCheckNav and active_category_id == subsubsubcategory.clean_id %}active_menu{% endif %}">#}
                                                                                {#{{ subsubsubcategory.title }}#}
                                                                                {#</span>#}
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}