{% for category in block %}
    {% if category.module is defined  and category.module %}
        {% set module = true %}
    {% else %}
        {% set module = false %}
    {% endif %}
    <div class="col-md-12 col-sm-12 container-fluid">
        {% if category.slug is defined and category.slug %}
            {% set category_slug = category.slug %}
        {% else %}
            {% set category_slug = '#' %}
        {% endif %}
        {% if module %}
            {% set options = {'slug': category.slug, 'type': 'module'} %}
        {% else %}
            {% set options = {'slug': category.slug} %}
        {% endif %}
        <div class="row az-sidebar-header az-sidebar-catalog-item-header {% if category.identifier is same as(active_category_id)  %}active{% endif %}"
             data-id="{{ category.identifier }}"
             data-url="{{ path('category', options) }}">
            <div class="col-md-12 col-sm-12 ">
                <img src="{{ asset('bundles/app/images/catalog.png') }}"
                     class="az-sidebar-block-img az-catalog-block-img" title="{{ category.title }}"/>
                {{ category.title }}
            </div>
        </div>
        {% if category.children is defined and category.children %}
            <div class="row category-menu children-category-{{ category.identifier }}"
                 id="children-category-{{ category.identifier }}"
                 style="display:{% if category.identifier in activeCategories %}block{% else %}none{% endif %};">
                <div class="col-md-12 col-sm-12 container-fluid">
                    {% for subcategory in category.children %}
                        {% if subcategory.slug is defined and subcategory.slug %}
                            {% set subcategory_slug = subcategory.slug %}
                        {% else %}
                            {% set subcategory_slug = '#' %}
                        {% endif %}
                        {% if module %}
                            {% set options = {'slug': subcategory_slug, 'type': 'module'} %}
                        {% else %}
                            {% set options = {'slug': subcategory_slug} %}
                        {% endif %}
                        <div class="row az-sidebar-subcategory-item"
                             data-id="{{ subcategory.identifier }}" data-parent-id="{{ category.identifier }}"
                             data-url="{{ path('category', options) }}">

                            <div class="col-md-12 col-sm-12 container-fluid az-sidebar-subcategory-first {% if subcategory.identifier in activeCategories %}active_parent{% endif %}">
                                <span class="az-subcat-span">{{ subcategory.title }}</span>
                                {% if subcategory.children is defined and subcategory.children %}
                                    <div class="row category-menu children-subcategory-{{ subcategory.identifier }}"
                                         id="children-subcategory-{{ subcategory.identifier }}"
                                         style="display:{% if subcategory.identifier in activeCategories %}block{% else %}none{% endif %};">
                                        <div class="col-md-12 col-sm-12 container-fluid">
                                            {% for subsubcategory in subcategory.children %}
                                                {% if subsubcategory.slug is defined and subsubcategory.slug %}
                                                    {% set subsubcategory_slug = subsubcategory.slug %}
                                                {% else %}
                                                    {% set subsubcategory_slug = '#' %}
                                                {% endif %}
                                                {% if module %}
                                                    {% set options = {'slug': subsubcategory_slug, 'type': 'module'} %}
                                                {% else %}
                                                    {% set options = {'slug': subsubcategory_slug} %}
                                                {% endif %}
                                                <div class="row subcategory-menu az-sidebar-subsubcategory-item children-subsubcategory-{{ subsubcategory.identifier }} {% if subsubcategory.identifier is same as(active_category_id) %}active{% endif %}"
                                                     data-url="{{ path('category', {'slug': subsubcategory_slug }) }}"
                                                     data-id="{{ subsubcategory.identifier }}">

                                                    <div class="col-md-12 col-sm-12 container-fluid az-sidebar-subsubcategory-first {% if subsubcategory.identifier in activeCategories %}active_parent{% endif %}">
                                                        <span class="az-subsubcat-span">{{ subsubcategory.title }}</span>
                                                        {% if subsubcategory.children is defined and subsubcategory.children %}
                                                            <div class="row category-menu children-subsubcategory-{{ subsubcategory.identifier }}"
                                                                 id="children-subsubcategory-{{ subsubcategory.identifier }}"
                                                                 style="display:{% if subcategory.identifier in activeCategories %}block{% else %}none{% endif %};">
                                                                <div class="col-md-12 col-sm-12 container-fluid">
                                                                    {% for subsubsubcategory in subsubcategory.children %}
                                                                        {% if subsubsubcategory.slug is defined and subsubsubcategory.slug %}
                                                                            {% set subsubsubcategory_slug = subsubsubcategory.slug %}
                                                                        {% else %}
                                                                            {% set subsubsubcategory_slug = '#' %}
                                                                        {% endif %}
                                                                        {% if module %}
                                                                            {% set options = {'slug': subsubsubcategory_slug, 'type': 'module'} %}
                                                                        {% else %}
                                                                            {% set options = {'slug': subsubsubcategory_slug} %}
                                                                        {% endif %}
                                                                        <div class="row subsubcategory-menu az-sidebar-subsubsubcategory-item children-subsubsubcategory-{{ subsubsubcategory.identifier }} {% if subsubsubcategory.identifier is same as(active_category_id) %}active{% endif %}"
                                                                             data-url="{{ path('category', {'slug': subsubsubcategory_slug }) }}"
                                                                             data-id="{{ subsubsubcategory.identifier }}">

                                                                            <div class="col-md-12 col-sm-12 az-subsubcategory-item-img">
                                                                                <span class="az-subsubcat-span">{{ subsubsubcategory.title }}</span>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}