{% if pagination.params is defined and pagination.params %}
    {% if pagination.params.sort is defined and pagination.params.sort %}
        {% set sort_field = pagination.params.sort %}
    {% else %}
        {% set sort_field = 'p.id' %}
    {% endif %}
    {% if pagination.params.direction is defined and pagination.params.direction %}
        {% set sort_direction = pagination.params.direction %}
    {% else %}
        {% set sort_direction = 'DESC' %}
    {% endif %}

    {% if pagination.params.filterField is defined and pagination.params.filterField %}
        {% set filter_field = pagination.params.filterField %}
    {% else %}
        {% set filter_field = '' %}
    {% endif %}
    {% if pagination.params.filterValue is defined and pagination.params.filterValue %}
        {% set filter_value = pagination.params.filterValue %}
    {% else %}
        {% set filter_value = '' %}
    {% endif %}
{% endif %}
<div class="col-md-1 col-sm-1 text-center az-picture-page-constructor-block container-fluid {% if sort_field == 'p.title' %}active{% endif %}">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        <div class="col-md-12 col-sm-12">
            {% set title_direction = 'DESC' %}
            {% if sort_field == 'p.title' %}
                {% if sort_direction == 'DESC' %}{% set title_direction = 'ASC' %}{% endif %}
            {% endif %}
            <a class="az-category-page-filter-name"
               href="{{ app.request.pathinfo }}?sort=p.title&direction={{ title_direction }}&page={{ pagination.currentPageNumber }}&filterField={{ filter_field }}&filterValue={{ filter_value }}">Имя <span
                        class="glyphicon glyphicon-chevron-{% if title_direction == 'DESC' %}down{% else %}up{% endif %}"></span></a>
        </div>
    </div>
</div>
<div class="col-md-1 col-sm-1 text-center az-picture-page-constructor-block container-fluid {% if sort_field == 'p.createdAt' %}active{% endif %}">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        {% set date_direction = 'DESC' %}
        {% if sort_field == 'p.createdAt' %}
            {% if sort_direction == 'DESC' %}{% set date_direction = 'ASC' %}{% endif %}
        {% endif %}
        <a class="az-category-page-filter-name"
           href="{{ app.request.pathinfo }}?sort=p.createdAt&direction={{ date_direction }}&page={{ pagination.currentPageNumber }}&filterField={{ filter_field }}&filterValue={{ filter_value }}">Дата <span
                    class="glyphicon
        glyphicon-chevron-{% if date_direction == 'DESC' %}down{% else %}up{% endif %}"></span></a>
    </div>
</div>
<div class="col-md-2 col-sm-2 text-center az-picture-page-constructor-block container-fluid {% if sort_field == 'p.popularity' %}active{% endif %}">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        {% set popularity_direction = 'DESC' %}
        {% if sort_field == 'p.popularity' %}
            {% if sort_direction == 'DESC' %}{% set popularity_direction = 'ASC' %}{% endif %}
        {% endif %}
        <a class="az-category-page-filter-name"
           href="{{ app.request.pathinfo }}?sort=p.popularity&direction={{ popularity_direction }}&page={{ pagination.currentPageNumber }}&filterField={{ filter_field }}&filterValue={{ filter_value }}">Популярность <span
                    class="glyphicon
        glyphicon-chevron-{% if popularity_direction == 'DESC' %}down{% else %}up{% endif %}"></span></a>
    </div>
</div>
<div class="col-md-1 col-sm-1 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo az-cat-filter-btn">
        <button class="btn az-category-page-filter-btn az-category-page-filter-random-btn" data-filterurl="{{ app.request.pathinfo }}?random=true">Случайно</button>
    </div>
</div>
<div class="col-md-1 col-sm-1 text-center az-picture-page-constructor-block container-fluid">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        <button class="btn az-category-page-filter-btn az-category-page-filter-random-btn az-category-page-filter-clear-btn" data-filterurl="{{ app.request.pathinfo }}">Сбросить
        </button>
    </div>
</div>
<div class="col-md-4 col-sm-4 text-center az-picture-page-constructor-block container-fluid {% if filter_field == 'f.id' %}active{% endif %}">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        Вид формы:
        {% if filters is defined and filters and filters.tpls is defined and filters.tpls %}
            {% set loopIndex = 1 %}
            {% for tpl in filters.tpls if loopIndex < 5 %}
                {% set form_filter = false %}
                {% if filter_field == 'f.id' and filter_value == tpl.id %}
                    {% set form_filter = true %}
                {% endif %}
                <a href="#" class="az-picture-page-material-img-a"
                   data-filterurl="{{ app.request.pathinfo }}?sort={{ sort_field }}&direction={{ sort_direction }}&page={{ pagination.currentPageNumber }}&filterField=f.id&filterValue={{ tpl.id }}">
                    <img src="/files/picture_forms/small_thumb/{{ tpl.image.getFilename() }}" class="az-picture-page-material-img{% if form_filter %} selected{% endif %}"/>
                </a>
                {% set loopIndex = loopIndex + 1 %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% if filter_field == 'p.type' %}
    {% if filter_value == 'false' %}
        {% set photo_filter = true %}
        {% set art_filter = false %}
        {% set photo_val = 'true' %}
        {% set art_val = 'true,false' %}
    {% elseif filter_value == 'true' %}
        {% set photo_filter = false %}
        {% set art_filter = true %}
        {% set photo_val = 'true,false' %}
        {% set art_val = 'false' %}
    {% elseif filter_value == 'true,false' %}
        {% set photo_filter = true %}
        {% set art_filter = true %}
        {% set photo_val = 'true' %}
        {% set art_val = 'false' %}
    {% endif %}
{% else %}
    {% set photo_filter = true %}
    {% set art_filter = true %}
    {% set photo_val = 'true' %}
    {% set art_val = 'false' %}
{% endif %}
<div class="col-md-1 col-sm-1 text-center az-picture-page-constructor-block container-fluid {% if photo_filter %}active{% endif %}">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        <span class="az-category-page-filter-art-title">Фото</span>
        <input type="checkbox" class="btn az-category-page-filter-radio" name="az-category-page-filter-photo" title="az-category-page-filter-photo" value="1"
               data-filterurl="{{ app.request.pathinfo }}?sort={{ sort_field }}&direction={{ sort_direction }}&page={{ pagination.currentPageNumber }}&filterField=p.type&filterValue={{ photo_val }}"
               {% if photo_filter %}checked{% endif %}>
    </div>
</div>
<div class="col-md-1 col-sm-1 text-center az-picture-page-constructor-block container-fluid {% if art_filter %}active{% endif %}">
    <div class="row az-category-page-filter az-category-page-filter-photo">
        <span class="az-category-page-filter-art-title">Арт</span>
        <input type="checkbox" class="btn az-category-page-filter-radio" name="az-category-page-filter-photo" title="az-category-page-filter-photo"
               data-filterurl="{{ app.request.pathinfo }}?sort={{ sort_field }}&direction={{ sort_direction }}&page={{ pagination.currentPageNumber }}&filterField=p.type&filterValue={{ art_val }}"
               value="1" {% if art_filter %}checked{% endif %}>
    </div>
</div>
