{% extends "AppBundle::layout.html.twig" %}

{% block title %}Рамы{% endblock %}

{% block meta_keywords %}{% if site_settings is defined and site_settings and site_settings.seo_keywords is defined and site_settings.seo_keywords %}{{ site_settings.seo_keywords }}{% else %}
    картины,картины на заказ
{% endif %}
{% endblock %}

{% block meta_description %}{% if site_settings is defined and site_settings and site_settings.seo_description is defined and site_settings.seo_description %}{{ site_settings.seo_description }}{% else %}
    картины,картины на заказ, сайт продаж картин
{% endif %}
{% endblock %}

{% block body %}

<div class="row az-page-main-section-div">
    {% include('AppBundle:Component:Blocks/breadcrumb.html.twig') %}
</div>
<div class="row az-page-main-section-div az-page-category-main-section-div">
    <div class="col-md-12 container-fluid">
        <div class="row page-title az-picture-page-title">Рамы</div>
        <div class="row az-category-page-description-div">
            {% if site_settings is defined and site_settings and site_settings.frame_page_text is defined and site_settings.frame_page_text %}
                {{ site_settings.frame_page_text|raw }}
            {% endif %}
        </div>
        <div class="row az-category-page-filters-div">
            {% include('AppBundle:Component:Frame/filter.html.twig') %}
        </div>
        <div class="row az-page-main-section-frame">
            <div class="col-md-12 container-fluid">
                <div class="row az-main-frames-page container-fluid">
                    {% for frame in pagination %}
                    {% if frame.images is defined and frame.images and frame.images[0] is defined and frame.images[0] %}
                        {% set img = '/files/frames/mini_thumb/' ~ frame.images[0].getFilename() %}
                    {% else %}
                        {% set img = asset('bundles/app/images/material_default.png') %}
                    {% endif %}
                    <div class="col-md-2 az-main-frames-div az-frames-page-div-item"
                         data-url="{{ path('frame', {'id': frame.id}) }}">
                        <div class="row">
                            <div class="col-md-12 az-main-frames-div-img">
                                <img src="{{ img }}" class="az-main-frames-img"/>
                            </div>
                        </div>
                        <div class="col-md-2 az-main-frames-div-header ">
                            <div class="row">
                                <div class="col-md-12  ">{{ frame.title }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 az-main-frames-material">{{ frame.width }} X {{ frame.height }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 az-main-frames-material">{{ frame.material }}</div>
                            </div>
                        </div>
                    </div>
                    {% if loop.index != 1 and loop.index % 6 == 0 %}
                </div>
                <div class="row az-main-frames-page container-fluid ">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                               <div class="soc-share">
                        <a href="https://twitter.com/share?url=http://www.artzakaz.by/twitter-button/"
                           title="Twitter" class="btn btn-twitter btn-lg"><i class="fa fa-twitter fa-fw"></i></a>
                    </div>
                    <div class="soc-share">
                        <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.artzakaz
                .by&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!"
                           target="_blank"
                           onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false">
                            <button style= type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i></button>
                        </a>
                    </div>
                    <div class="soc-share"><a href="http://vk.com/share.php?url=_URL_&title=_TITLE_&description=_DESCRIPTION_&image=_URL_TO_IMAGE_" class="btn btn-vk">
                            <i class="fa fa-vk fa-lg vk"></i></a></div>
                    <div class="soc-share"><a class="btn  btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;source=http%3A%2F%2Fartzakaz.by%2F">
                            <span class="fa fa-linkedin"></span></a></div>
                    <div class="soc-share"><a class="btn  btn-google" href="https://plus.google.com/share?url=http%3A%2F%2Fartzakaz.by%2F">
                            <span class="fa fa-google"></span></a></div>

                    <div class="soc-share" id="ok_shareWidget">

                        <div id="ok_shareWidget"></div>
                        <script>
                            !function (d, id, did, st, title, description, image) {
                                var js = d.createElement("script");
                                js.src = "https://connect.ok.ru/connect.js";
                                js.onload = js.onreadystatechange = function () {
                                    if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                                        if (!this.executed) {
                                            this.executed = true;
                                            setTimeout(function () {
                                                OK.CONNECT.insertShareWidget(id,did,st, title, description, image);
                                            }, 0);
                                        }
                                    }};
                                d.documentElement.appendChild(js);
                            }(document,"ok_shareWidget","https://artzakaz.by",'{"sz":30,"st":"rounded","nc":1,"nt":1}',"","","");
                        </script>
                    </div>
                </div>
        </div>
    </div>
    <div class="row az-pagination-block az-category-page-pagination-div">
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <div class="row az-visited-block az-category-page-visited-div">
        {% include('AppBundle:Component:Blocks/last.visited.html.twig') %}
    </div>
    <div class="row az-visited-block az-category-page-visited-div">
        {% include('AppBundle:Component:Blocks/deferred.html.twig') %}
    </div>
    {% endblock %}
