{% extends "AppBundle::layout.html.twig" %}

{% block title %}Рама "{{ frame.title }}"{% endblock %}

{% block meta_keywords %}{% if site_settings is defined and site_settings and site_settings.seo_keywords is defined and site_settings.seo_keywords %}{{ site_settings.seo_keywords }}{% else %}
    картины,картины на заказ
{% endif %}
{% endblock %}

{% block meta_description %}{% if site_settings is defined and site_settings and site_settings.seo_description is defined and site_settings.seo_description %}{{ site_settings.seo_description }}{% else %}
    картины,картины на заказ, сайт продаж картин
{% endif %}
{% endblock %}

{% block body %}


<div class="row az-page-main-section-div">
    {% include('AppBundle:Component:Blocks/breadcrumb.html.twig') %}
</div>
<div class="row az-page-main-section-div">
    <div class="col-md-12 col-sm-12 container-fluid">
        <div class="row page-title az-picture-page-title">
            <div class="col-md-12 col-sm-12"> Рама {{ frame.title }} </div>

        </div>
        <div class="row az-picture-page-author-articul-div">
            <div class="col-md-2 col-sm-2">  {{ frame.width }} X {{ frame.height }} см</div>
            <div class="col-md-10 col-sm-10"> {{ frame.material }}</div>
        </div>

        {% if frame.images is defined and frame.images and frame.images|length > 6 %}
            <div class="row az-page-main-section-div az-frames-slide">
                <div class="col-md-3 col-sm-3">
                    <div class="cycle-overlay custom"></div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" id="prev-slider" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cycle-slideshow"
                         data-cycle-fx=scrollHorz
                         data-cycle-timeout=0
                         data-cycle-pager="#adv-custom-pager"
                         data-cycle-prev="#prev-slider"
                         data-cycle-next="#next-slider"
                         data-cycle-pager-template="<a  class='az-frames-slide-thumb'  href='#'><img src='{{ '{{' }}src{{ '}}' }}'  ></a>"
                    >
                        {% for image in frame.images %}
                            {% if loop.index > 6 %}
                                {% if image.getFilename() %}
                                    {% set img = '/files/frames/thumb/' ~ image.getFilename() %}
                                {% else %}
                                    {% set img = asset('bundles/app/images/material_default.png') %}
                                {% endif %}
                                <img src="{{ img }}" class="hidden az-frames-slide-thumb-img"/>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a class="right carousel-control" href="#carousel-example-generic" id="next-slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row az-frames-main">
        <div id=adv-custom-pager class="center external"></div>
    </div>
    <div class="row">
        <!--{% set images = frame.images %}
                {% block images_list %} {% include 'AppBundle::Images/list.block.html.twig' %}-->

        <div class="col-md-12 col-sm-12 az-frame-slide-about">
            <p>Рама "{{ frame.title }}"</p>
            <p>Цвет: {{ frame.color }}</p>
            <p>Материал: {{ frame.material }}</p>
            <p>Ширина: {{ frame.width }}</p>
            <p>Высота: {{ frame.height }}</p>
            {% if frame.description %}
                <p>
                    Описание:<br/>
                    {{ frame.description|moreText|raw }}
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row az-visited-block az-category-page-visited-div">
        {% include('AppBundle:Component:Blocks/last.visited.html.twig') %}
    </div>
    {% endblock %}
    {% endblock %}
