<div class="col-md-12 az-picture-size-div az-picture-banner-material-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-material-div-left">
            <label data-for="picture-size">Материал: </label>
        </div>
        <div class="col-md-8 az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint" data-toggle="modal" data-target="#myModabanner">Подробнее ?</button>
            <div id="myModabanner" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content az-picture-page-hint-modal-div ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Материал</h4>
                        </div>
                        <div class="modal-body">
                            {% if help_settings is defined and help_settings and help_settings.materialBannerHelp is defined and help_settings.materialBannerHelp %}
                                <div>{{ help_settings.materialBannerHelp|raw }}</div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-material-div-select">
        {% if materials is defined and materials %}
        {% set ind = 1 %}
        {% if cart_item.banner_material_id is defined and cart_item.banner_material_id %}
            {% set active_material_id = cart_item.banner_material_id %}
        {% else %}
            {% set active_material_id = 0 %}
        {% endif %}
        {% for material in materials %}
        <div class="col-md-4 container-fluid az-picture-page-sidebar-material-banner-block-selector
        {% if (active_material_id and active_material_id==material.id) or (not active_material_id and ind == 1) %}active{% endif %}"
             data-title="{{ material.title }}"
             data-id="{{ material.id }}">
            <div class="row">
                <div class="col-md-12 az-picture-page-material-banner-div-img">
                    <img src="/files/banner_materials/small_thumb/{{ material.image.getFilename() }}" class="az-picture-page-material-banner-img"/>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="az-picture-page-type-img-text">{{ material.title }}</span>
                </div>
            </div>
            <div class="row text-center az-picture-page-material-radio-div">
                <div class="col-md-12">
                    <input type="radio" class="btn hidden az-picture-page-constructor-material-radio" value="{{ material.title }}" title="az-picture-page-material"
                           name="az-picture-page-material"
                           data-title="{{ material.title }}"
                           data-id="{{ material.id }}"
                           {% if (active_material_id and active_material_id==material.id) or (not active_material_id and ind == 1) %}checked{% endif %}/>
                </div>
            </div>
        </div>

        <input type="hidden" name="constructor_banner_{{ material.id }}_min_square" id="constructor_banner_{{ material.id }}_min_square"
               value="{{ material.minArea }}">
        <input type="hidden" name="constructor_banner_{{ material.id }}_max_square" id="constructor_banner_{{ material.id }}_max_square"
               value="{{ material.maxArea }}">
        <input type="hidden" name="constructor_banner_{{ material.id }}_min_price" id="constructor_banner_{{ material.id }}_min_price"
               value="{{ material.minPrice }}">
        <input type="hidden" name="constructor_banner_{{ material.id }}_max_price" id="constructor_banner_{{ material.id }}_max_price"
               value="{{ material.maxPrice }}">
        <input type="hidden" name="constructor_banner_{{ material.id }}_additional_price" id="constructor_banner_{{ material.id }}_additional_price"
               value="{{ material.price }}">
        <input type="hidden" name="constructor_banner_{{ material.id }}_additional_ratio" id="constructor_banner_{{ material.id }}_additional_ratio"
               value="{{ material.ratio }}">

        {% if ind % 3 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% set ind = ind + 1 %}
        {% endfor %}
        {% endif %}
    </div>
</div>