<div class="col-md-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-size-div-left">
            <label data-for="picture-size">Размер: </label>
        </div>
        <div class="col-md-8 az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint" data-toggle="modal" data-target="#myModalsize">Подробнее ?</button>

            <!-- HTML-код модального окна -->
            <div id="myModalsize" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content az-picture-page-hint-modal-div ">
                        <!-- Заголовок модального окна -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Размеры</h4>
                        </div>
                        <!-- Основное содержимое модального окна -->
                        <div class="modal-body">
                            {% if help_settings is defined and help_settings and help_settings.sizeHelp is defined and help_settings.sizeHelp %}
                                <div>{{ help_settings.sizeHelp }}</div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-size-div-select">
        <select class="btn az-picture-page-sidebar-size-select" name="picture-size" id="az-picture-page-constructor-size-select" title="">
            {% if cart_item.sizes is defined and cart_item.sizes %}
                {% set active_sizes = cart_item.sizes %}
                {% set isOwnSize = cart_item.isOwnSize %}
                {% set ownSizes = cart_item.sizes|split('x') %}
            {% else %}
                {% set active_sizes = '' %}
                {% set isOwnSize = false %}
                {% set ownSizes = [] %}
            {% endif %}
            <option value="own_size" {% if isOwnSize %}selected{% endif %}>Свой размер</option>
            {% set size_default = 1 %}
            {% for i in range(10, 200, 10) %}
                {% if pictureBaseWidth >= pictureBaseHeight %}
                    {% set koeff = (pictureBaseWidth/pictureBaseHeight) %}
                    <option value="{{ (koeff*i)|round }}x{{ i }}"
                            {% if active_sizes == (koeff*i)|round~'x'~i or (not active_sizes and size_default == 1) %}selected{% endif %}>{{ (koeff*i)|round }}см x {{ i }}см
                    </option>
                {% else %}
                    {% set koeff = (pictureBaseHeight/pictureBaseWidth) %}
                    <option value="{{ i }}x{{ (koeff*i)|round }}"
                            {% if active_sizes == i~'x'~(koeff*i)|round or (not active_sizes and size_default == 1) %}selected{% endif %}>{{ i }}см x {{ (koeff*i)
                        |round }}см
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="row {% if not isOwnSize %}hidden{% endif %} az-picture-page-sidebar-size-div-own-div">
        <div class="col-md-3 col-md-offset-2">
            <input type="text" name="own_width" id="own_width" value="{% if isOwnSize %}{{ ownSizes[0] }}{% endif %}" maxlength="3"
                   title="own_width" class="az-picture-page-sidebar-size-div-own-input">
        </div>
        <div class="col-md-1">x</div>
        <div class="col-md-3">
            <input type="text" name="own_height" value="{% if isOwnSize %}{{ ownSizes[1] }}{% endif %}" id="own_height" maxlength="3"
                   title="own_height" class="az-picture-page-sidebar-size-div-own-input">
        </div>
    </div>
    <div class="row" id="az-picture-page-sidebar-size-panel-div" style="display: none;">
        <div class="col-12 container-fluid az-picture-page-sidebar-size-panel-div-content" id="az-picture-page-sidebar-size-panel-div-content"></div>
    </div>
</div>