<div class="row">
    <div class="col-md-12 az-picture-size-div container-fluid">
        <div class="row az-picture-page-sidebar-size">
            <div class="col-md-12 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-size-div-left">
                <label data-for="picture-size">Размер паспарту: </label>
                <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint">Подробнее ?</button>
                {% if help_settings is defined and help_settings and help_settings.sizeHelp is defined and help_settings.sizeHelp %}
                    <div class="d-none">{{ help_settings.sizeHelp }}</div>
                {% endif %}
            </div>
        </div>
        <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-size-div-select">
            <select class="btn az-picture-page-sidebar-size-select" name="picture-size" id="az-picture-page-constructor-size-select" title="">
                {#<option value="color">Цветопроба</option>#}
                <option value="own_size">Свой размер</option>
                {% if pictureSize %}
                    {% set size_default = 1 %}
                    {% for size in pictureSize %}
                        <option value="{{ size.width }}x{{ size.height }}" {% if size_default == 1 %}selected{% endif %}>{{ size.width }}x{{ size.height }}</option>
                        {% set size_default = size_default + 1 %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
</div>