<div class="row">
    <span class="az-title-modul">Тип модульности</span>
    <div class="col-md-12 owl-carousel owl-theme" id="owl-template">
        {% if moduleTypes is defined and moduleTypes %}
            {% for moduleType in moduleTypes %}
                {% if moduleType.image is defined and moduleType.image %}
                    {% set img = '/files/module_types/mini_thumb/' ~ moduleType.image.getFilename() %}
                {% else %}
                    {% set img = asset('bundles/app/images/material_default.png') %}
                {% endif %}
                <div>
                    <img src="{{ img }}" class="az-picture-page-constructor-picture-module-type-img"
                         data-id="{{ moduleType.id }}"
                         data-title="{{ moduleType.name }}"
                         data-ratio="{{ moduleType.ratio }}"
                         data-code="{{ moduleType.formula }}"
                    />
                </div>
            {% endfor %}
            <input type="hidden" name="az-picture-constructor-module-selected" id="az-picture-constructor-module-selected" value="{{ moduleTypes[0].name }}">
            <input type="hidden" name="az-picture-constructor-module-id-selected" id="az-picture-constructor-module-id-selected" value="{{ moduleTypes[0].id }}">
            <input type="hidden" name="az-picture-constructor-module-ratio-selected" id="az-picture-constructor-module-ratio-selected" value="{{ moduleTypes[0].ratio }}">
            <input type="hidden" name="az-picture-constructor-module-code-selected" id="az-picture-constructor-module-code-selected" value="{{ moduleTypes[0].formula }}">
        {% else %}
            У нас пока отсутствуют шаблоны для данного вида картин.
        {% endif %}
    </div>
</div>