<div class="row az-picture-page-frame-outer-slider">
    <span class="az-title-modul">Тип модульности</span>
    {% set moduleId = 0 %}
    {% set moduleName = '' %}
    {% set moduleRatio = 0 %}
    {% set moduleFormula = '' %}
    {% if moduleTypes is defined and moduleTypes %}
        <div class="col-md-12 col-sm-12 owl-carousel owl-theme" id="owl-template">

            <a href="{% if ownPicture is defined %}{{ path('my_file_module', {'id': pictureMain.id}) }}{% else %}{{ path('picture_module', {'id': pictureMain.id}) }}{% endif %}">
                <img src="{{ asset('bundles/app/images/auto_template.png') }}" class="hidden az-picture-page-constructor-picture-module-type-img"
                     data-id="0"
                     data-title="Автоподбор"
                     data-ratio="0"
                     data-code=""
                />
            </a>
            {% for moduleType in moduleTypes %}
                {% if moduleType.image is defined and moduleType.image %}
                    {% set img = '/files/module_types/mini_thumb/' ~ moduleType.image.getFilename() %}
                {% else %}
                    {% set img = asset('bundles/app/images/material_default.png') %}
                {% endif %}
                {% set isModuleTypeActive = (cart_item.module_type_id is defined and cart_item.module_type_id==moduleType.id) or
                (cart_item.module_type_id is not defined and template_selected_id==0 and loop.index == 1) or (cart_item.module_type_id is not defined and template_selected_id==moduleType.id) %}
                <div>
                    <img src="{{ img }}" class="hidden az-picture-page-constructor-picture-module-type-img {% if isModuleTypeActive %}active{% endif %}"
                         data-id="{{ moduleType.id }}"
                         data-title="{{ moduleType.name }}"
                         data-ratio="{{ moduleType.ratio }}"
                         data-code="{{ moduleType.formula }}"
                         data-dddd="{{ loop.index }}"
                    />
                    {% if isModuleTypeActive %}
                        {% set moduleId = moduleType.id %}
                        {% set moduleName = moduleType.name %}
                        {% set moduleRatio = moduleType.ratio %}
                        {% set moduleFormula = moduleType.formula %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="col-md-12 col-sm-12">
            У нас пока отсутствуют шаблоны для данного вида картин.
        </div>
    {% endif %}
    <input type="hidden" name="az-picture-constructor-module-selected"
           id="az-picture-constructor-module-selected" value="{{ moduleName }}">
    <input type="hidden" name="az-picture-constructor-module-id-selected"
           id="az-picture-constructor-module-id-selected" value="{{ moduleId }}">
    <input type="hidden" name="az-picture-constructor-module-ratio-selected"
           id="az-picture-constructor-module-ratio-selected" value="{{ moduleRatio }}">
    <input type="hidden" name="az-picture-constructor-module-code-selected"
           id="az-picture-constructor-module-code-selected" value="{{ moduleFormula }}">
</div>