<div class="col-md-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-type-div-left">
            <label data-for="picture-size">Тип изделия: </label>
        </div>

        <div class="col-md-8 az-picture-page-sidebar-div-right">
            <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint" data-toggle="modal" data-target="#myModaltype">Подробнее ?</button>

            <div id="myModaltype" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content az-picture-page-hint-modal-div ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Тип изделия</h4>
                        </div>
                        <div class="modal-body">
                            {% if help_settings is defined and help_settings and help_settings.typeHelp is defined and help_settings.typeHelp %}
                                <div>{{ help_settings.typeHelp|raw }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-type-div-select">
        {% set numPicture = 0 %}
        {% if pictureMain.image is defined and pictureMain.image %}
        <div class="col-md-6 container-fluid az-picture-page-sidebar-type-block-selector
        {% if cart_item.type_value is not defined or (cart_item.type_value is defined and cart_item.type_value=='Баннер') %}active{% endif %}"
             data-title="Баннер"
             data-value="1" data-type="banner">
            <div class="row az-picture-page-type-div-img">
                {% set img = '/files/pictures/small_thumb/' ~ pictureMain.image.getFilename() %}
                {% set imgPath = pictureMain.image.getSmallThumbBaseFile() %}
                {% set isImgFormExist = pictureMain.form is defined and pictureMain.form and pictureMain.form.serviceName %}
                {% set imgSize = filesize(imgPath) %}
                <div class="col-md-12 az-picture-page-type-div-img show-constructor-img-lazy"
                     data-src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}"
                     data-id="{{ pictureMain.id }}"
                     data-type="Баннер"
                     data-width={{ imgSize[0] }}
                     data-height={{ imgSize[1] }}
                     data-left=15
                     data-top=2
                     data-pad-left=4
                     data-pad-top=4
                     data-butt=2
                     data-max-width=127
                     data-max-height={% if isImgFormExist and pictureMain.form.serviceName == 'rectangle vertical' %}80{% else %}50{% endif %}
                     data-code="single|{horizontal|100-100-0}"
                     data-shadow=1
                     data-fill-in="1"
                ></div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="az-picture-page-type-img-text">Баннер</span>
                </div>
            </div>
            <div class="row text-center az-picture-page-material-radio-div">
                <div class="col-md-12">
                    <input type="radio" class="btn hidden az-picture-page-constructor-type-radio" data-title="Баннер" value="1"
                           title="az-picture-page-type" data-type='banner' name="az-picture-page-type"
                           {% if cart_item.type_value is not defined or (cart_item.type_value is defined and cart_item.type_value=='Баннер') %}checked{% endif %}/>
                </div>
            </div>
        </div>
        <div class="col-md-6 container-fluid az-picture-page-sidebar-type-block-selector
        {% if cart_item.type_value is defined and cart_item.type_value=='В раме' %}active{% endif %}" data-title="В раме" data-value="2" data-type="frame">
            <div class="row az-picture-page-type-div-img">
                <div class="col-md-12 az-picture-page-type-div-img show-constructor-img-lazy"
                     data-src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}"
                     data-id="{{ pictureMain.id }}"
                     data-type="В раме"
                     data-width={{ imgSize[0] }}
                     data-height={{ imgSize[1] }}
                     data-left=15
                     data-top=2
                     data-pad-left=4
                     data-pad-top=4
                     data-butt=2
                     data-butt-portrait=3
                     data-max-width=127
                     data-max-height={% if isImgFormExist and pictureMain.form.serviceName == 'rectangle vertical' %}80{% else %}50{% endif %}
                     data-shadow=1
                     data-fill-in="1"
                ></div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <span class="az-picture-page-type-img-text">В раме</span>
                </div>
            </div>
            <div class="row text-center az-picture-page-material-radio-div">
                <div class="col-md-12">
                    <input type="radio" class="btn hidden az-picture-page-constructor-type-radio" data-title="В раме" value="2"
                           title="az-picture-page-type" data-type='frame' name="az-picture-page-type"
                           {% if cart_item.type_value is defined and cart_item.type_value=='В раме' %}checked{% endif %}/>
                </div>
            </div>


            {#<div class="row text-center">#}
            {#<div class="col-md-12 text-center az-picture-page-sidebar-type-div-frame-border">#}
            {#<div class="text-center az-picture-page-sidebar-type-div-frame-mat az-picture-page-type-div-img">#}
            {#<img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class=" text-center az-picture-page-type-img"/>#}
            {#</div>#}
            {#</div>#}
            {#<div class="row">#}
            {#<div class="col-md-12">#}
            {#<span class="az-picture-page-type-img-text">В раме</span>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="row text-center az-picture-page-material-radio-div">#}
            {#<input type="radio" class="btn hidden az-picture-page-constructor-type-radio" data-title="В раме" value="2"#}
            {#title="az-picture-page-type" data-type='frame' name="az-picture-page-type"#}
            {#{% if cart_item.type_value is defined and cart_item.type_value=='В раме' %}checked{% endif %}/>#}
            {#</div>#}
        </div>
    </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-type-div-select">
        <div class="col-md-6 container-fluid az-picture-page-sidebar-type-block-selector
        {% if cart_item.type_value is defined and cart_item.type_value=='Модульная' %}active{% endif %}" data-title="Модульная" data-value="3" data-type='module'>
            <div class="row text-center">
                <div class="col-12 container-fluid">
                    <div class="row text-center">
                        {% if moduleTypes is defined and moduleTypes and moduleTypes[0] is defined and moduleTypes[0] %}
                            {% set pictureMainCode = moduleTypes[0].formula %}
                        {% else %}
                            {% set pictureMainCode = 'single|{horizontal|100-100-0}' %}
                        {% endif %}
                        <div class="col-md-12 az-picture-page-type-div-img show-constructor-img-lazy"
                             data-src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}"
                             data-id="21"
                             data-type="Модульная"
                             data-width={{ imgSize[0] - 12 }}
                             data-height={{ imgSize[1] - 12 }}
                             data-left=15
                             data-top=2
                             data-pad-left=6
                             data-pad-top=4
                             data-butt=2
                             data-max-width=127
                             data-max-height={% if isImgFormExist and pictureMain.form.serviceName == 'rectangle vertical' %}80{% else %}50{% endif %}
                             data-code="{{ pictureMainCode }}"
                             data-shadow=1
                             data-fill-in="1"
                        ></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="az-picture-page-type-img-text">Модульная</span>
                        </div>
                    </div>
                    <div class="row text-center az-picture-page-material-radio-div">
                        <input type="radio" class="btn hidden az-picture-page-constructor-type-radio" data-title="Модульная"
                               value="3" title="az-picture-page-type"
                               data-type='module' name="az-picture-page-type"
                               {% if cart_item.type_value is defined and cart_item.type_value=='Модульная' %}checked{% endif %}/>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</div>
{% if pictureMain.form is defined and pictureMain.form and pictureMain.form.serviceName %}
    <style>
        {% if pictureMain.form.serviceName in ['rectangle vertical'] %}
        .az-picture-page-sidebar-type-div-select .col-md-6 {
            height: 110px;
        }

        .az-picture-page-type-div-img {
            height: 80px;
        }

        .az-picture-page-sidebar-type-div-frame-mat img {
            width: 50%;
        }

        {% elseif pictureMain.form.serviceName in ['square'] %}
        .az-picture-page-sidebar-type-div-select .col-md-6 {
            height: 90px;
        }

        .az-picture-page-type-div-img {
            height: 60px;
        }

        .az-picture-page-sidebar-type-div-frame-mat img {
            width: 60%;
        }

        {% else %}
        .az-picture-page-sidebar-type-div-select .col-md-6 {
            height: 80px;
        }

        .az-picture-page-type-div-img {
            height: 50px;
        }

        .az-picture-page-sidebar-type-div-frame-mat img {
            width: 70%;
        }

        {% endif %}
    </style>
{% endif %}