<div class="col-md-12 az-picture-size-div container-fluid">
    <div class="row az-picture-page-sidebar-size">
        <div class="col-md-4 text-left az-picture-page-sidebar-header-block az-picture-page-sidebar-type-div-left">
            <label data-for="picture-size">Тип изделия: </label>
        </div>

            <div class="col-md-8 az-picture-page-sidebar-div-right">
                <button class="btn az-picture-page-sidebar-size-btn az-picture-page-hint" data-toggle="modal" data-target="#myModaltype" >Подробнее ?</button>

                <!-- HTML-код модального окна -->
                <div id="myModaltype" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content az-picture-page-hint-modal-div ">
                            <!-- Заголовок модального окна -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Тип изделия</h4>
                            </div>
                            <!-- Основное содержимое модального окна -->
                            <div class="modal-body">
                                {% if help_settings is defined and help_settings and help_settings.typeHelp is defined and help_settings.typeHelp %}
                                    <div class="hidden">{{ help_settings.typeHelp|raw }}</div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    <div class="row az-picture-page-sidebar-size-div-body az-picture-page-sidebar-type-div-select">
        {% set numPicture = 0 %}
        {% if pictureMain.image is defined and pictureMain.image %}
        <div class="col-md-4 container-fluid">
            <div class="row text-center">
                <div class="col-md-12 az-picture-page-type-div-img">
                <img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"/>
                <br/></div>
                <div class="row text-center">
                    <div class="col-md-12">
                <span class="az-picture-page-type-img-text">Баннер</span>
                    </div></div>
            <div class="row text-center az-picture-page-material-radio-div">
                <div class="col-md-12">
                <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="Баннер" value="1"
                       title="az-picture-page-type" data-type='banner' name="az-picture-page-type" checked/>
                </div></div></div>
            </div>
        <div class="col-md-4 container-fluid">
            <div class="row text-center">
                <div class="col-md-12 text-center az-picture-page-sidebar-type-div-frame-border">
                    <div class="text-center az-picture-page-sidebar-type-div-frame-mat az-picture-page-type-div-img">
                        <img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class=" text-center az-picture-page-type-img"/>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    <span class="az-picture-page-type-img-text">В раме</span></div></div>
            </div>
            <div class="row text-center az-picture-page-material-radio-div">
                <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="В раме" value="2"
                       title="az-picture-page-type" data-type='frame' name="az-picture-page-type"/>
            </div>
        </div>
        <div class="col-md-4 container-fluid">
            <div class="row text-center">
                <div class="col-12 container-fluid">
                    {#<div class="row" style="height: {{ pictureSmallHeight }}px;">#}
                    {#{% set partWidth = (pictureSmallWidth * 0.3)|round %}#}
                    {#<div class="col-md-12">#}
                    {#<img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"#}
                    {#style="position: absolute;clip: rect(0, {{ partWidth }}px, {{ pictureSmallHeight }}px, 0);"/>&nbsp;#}
                    {#<img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"#}
                    {#style="position: absolute;clip: rect(0,#}
                    {#{{ partWidth*2 }}px, {{ pictureSmallHeight }}px, {{ partWidth }}px);height: {{ (pictureSmallHeight*0.8)|round }}px;"/>&nbsp;#}
                    {#<img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"#}
                    {#style="position: absolute;clip: rect(0, {{ pictureSmallWidth }}px, {{ pictureSmallHeight }}px, {{ partWidth*2 }}px);"/>#}
                    {#</div>#}
                    {#</div>#}
                    <div class="row text-center">
                        <div class="col-md-12 az-picture-page-type-div-img">
                        <img src="/files/pictures/small_thumb/{{ pictureMain.image.getFilename() }}" class="az-picture-page-type-img"/>
                    </div></div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="az-picture-page-type-img-text">Панно</span>
                        </div>
                    </div>
                    <div class="row text-center az-picture-page-material-radio-div">
                        <input type="radio" class="btn az-picture-page-constructor-type-radio" data-title="Панно" value="3" title="az-picture-page-type"
                               data-type='module' name="az-picture-page-type"/>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
    </div>