<p>
<div>Последние просмотренные</div>
{% for picture in lastVisited %}
<div><a href="{{ path('picture', { id: picture.id }) }}">{{ picture.title }}</a></div>
<div>
    {% if picture.author %}
        {{ picture.author }}
    {% endif %}
</div>
<div>
    Артикул: {{ picture.code }}
</div>
<div>
    {% if picture.image %}
        <img src="/files/pictures/mini_thumb/{{ picture.image.getFilename() }}" /><br>
    {% else %}
        <span>No picture</span>
    {% endif %}
</div>
{% endfor %}
</p>