{% extends "AppBundle::layout.html.twig" %}

{% block title %}Картина "{{ pictureMain.title }}" {% endblock %}

{% block body %}
    <div class="row az-page-main-section-div">
        {% include('AppBundle:Component:Blocks/breadcrumb.html.twig') %}
    </div>
    <div class="row az-page-main-section-div">
        <div class="col-md-9 container-fluid">
            <div class="row page-title az-picture-page-title">Картина "{{ pictureMain.title }}"</div>
            <div class="row az-picture-page-author-articul-div">
                <div class="col-md-6">Автор: <a href="#">{{ pictureMain.author.name }}</a></div>
                <div class="col-md-6">Артикул: {{ pictureMain.code }}</div>
            </div>
            {% if pictureMain.imageBanner and pictureMain.imageBanner.getFilename() %}
                {% set img = '/files/pictures/thumb/' ~ pictureMain.imageBanner.getFilename() %}
            {% else %}
                {% set img = asset('bundles/app/images/default_picture.jpg') %}
            {% endif %}
            <div class="row text-center">
                <img src="{{ img }}" class="admin-preview"/>
            </div>
            <div class="row">Выбор цвета стены</div>
            {% if frameSettings is defined and frameSettings %}
                {% set banner_min_square = frameSettings.minArea %}
                {% set banner_max_square = frameSettings.maxArea %}
                {% set banner_min_price = frameSettings.minPrice %}
                {% set banner_max_price = frameSettings.maxPrice %}
                {% set banner_add_price = frameSettings.price %}
            {% else %}
                {% set banner_min_square = 0 %}
                {% set banner_max_square = 0 %}
                {% set banner_min_price = 0 %}
                {% set banner_max_price = 0 %}
                {% set banner_add_price = 0 %}
            {% endif %}
            <input type="hidden" name="constructor_banner_min_square" id="constructor_banner_min_square" value="{{ banner_min_square }}">
            <input type="hidden" name="constructor_banner_max_square" id="constructor_banner_max_square" value="{{ banner_max_square }}">
            <input type="hidden" name="constructor_banner_min_price" id="constructor_banner_min_price" value="{{ banner_min_price }}">
            <input type="hidden" name="constructor_banner_max_price" id="constructor_banner_max_price" value="{{ banner_max_price }}">
            <input type="hidden" name="constructor_banner_additional_price" id="constructor_banner_additional_price" value="{{ banner_add_price }}">
        </div>
        <div class="col-md-3 container-fluid">
            <div class="row az-picture-page-constructor-block">Отложенные блок</div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/price.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/type.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/size.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/material.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/thickness.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/choose.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/price.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">Соц сети блок</div>
        </div>
    </div>
    {% include('AppBundle:Component:Blocks/similar.html.twig') %}
{% endblock %}
