<style media="screen" type="text/css">
    @import url("{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css', absolute=true) }}");
    @import url("{{ asset('bower_components/bootstrap/dist/css/bootstrap-theme.min.css', absolute=true) }}");
    @import url("{{ asset('bower_components/owl.carousel/dist/assets/owl.carousel.min.css', absolute=true) }}");
    @import url("{{ asset('bower_components/owl.carousel/dist/assets/owl.theme.default.min.css', absolute=true) }}");
    @import url("{{ asset('bower_components/bootstrap/dist/css/bootstrap-social.css', absolute=true) }}");
    @import url("{{ asset('bower_components/bootstrap/dist/css/font-awesome.css', absolute=true) }}");
    @import url("{{ asset('bundles/app/css/custom.css', absolute=true) }}");
</style>

{% set imgBig = '' %}
{% if pictureMain.image is defined and pictureMain.image and pictureMain.image.getFilename() %}
    {% set img = '/files/pictures/normal/' ~ pictureMain.image.getFilename() %}
    {% set imgPath = pictureMain.image.getNormalBaseFile() %}
    {% set imgSize = filesize(imgPath) %}
    {% set imgBigPath = pictureMain.image.getNormalBaseFile() %}
    {% if file_exists(imgBigPath) %}
        {% set imgBig = '/files/pictures/normal/' ~ pictureMain.image.getFilename() %}
    {% endif %}
{% else %}
    {% set img = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgPath = asset('bundles/app/images/default_picture.jpg') %}
    {% set imgSize = filesize(imgPath) %}
{% endif %}
{% set isModule = module_active is defined and module_active %}
{% if isModule and moduleTypes is defined and moduleTypes and previousFormula is defined %}
    {% set randomModuleFormula = random(moduleTypes).formula %}
    {% if randomModuleFormula == previousFormula %}
        {% set randomModuleFormula = random(moduleTypes).formula %}
    {% endif %}
    {% set previousFormula = randomModuleFormula %}
{% elseif isModule and moduleTypes is not defined %}
    {% set randomModuleFormula = 'single|{horizontal|15-70-15:35-100-0:25-100-5:25-70-15}' %}
{% else %}
    {% set randomModuleFormula = 'single|{horizontal|100-100-0}' %}
{% endif %}
{% if module_active is defined and module_active %}
    {% set picture_url = path('picture', {'id': pictureMain.id, 'type': 'module'}) %}
{% else %}
    {% set picture_url = path('picture', {'id': pictureMain.id}) %}
{% endif %}
{% set type_value = "Баннер" %}
{% if site_settings is defined and site_settings %}
    {% if site_settings.enable_banner is defined and site_settings.enable_banner and not isModule %}
        {% set type_value = "Баннер" %}
    {% elseif site_settings.enable_frame is defined and site_settings.enable_frame and not isModule %}
        {% set type_value = "В раме" %}
    {% elseif site_settings.enable_module is defined and site_settings.enable_module %}
        {% set type_value = "Модульная" %}
    {% endif %}
{% endif %}
<div class="container">
    <div class="row az-view-row-div">
        <div class="col-md-12 col-sm-12 {% if viewPicture %}text-center{% endif %} az-view-popular-item-img show-constructor-img-lazy"
             data-src="{{ img }}"
             data-id="{{ pictureMain.id }}"
             data-type="{{ type_value }}"
             data-width={{ imgSize[0] }}
             data-height={{ imgSize[1] }}
             data-left=0
             data-top=0
             data-pad-left=0
             data-pad-top=0
             data-butt=6
             data-butt-portrait=6
             data-code="{% if module_active or type_value == "Модульная" %}{{ module_formulas[i].formula }}{% else %}single|{horizontal|100-100-0}{% endif %}"
             data-max-width="700"
             data-max-height="700"
             data-href="{{ picture_url }}"
             data-fill-in="1"
             data-img-corner=""
             data-img-side-t=""
             data-img-side-r=""
             data-img-side-b=""
             data-img-side-l=""
                {% if imgBig and type_value == "Баннер" %}
                    data-zoom-image="{{ imgBig }}"
                    data-img-zoom="false"
                    data-elem-id="az-category-img-{{ pictureMain.id }}"
                    data-big-src="{{ imgBig }}"
                {% endif %}
        >
        </div>
    </div>
</div>


<script
        data-main="{{ asset('app/main.js') }}"
        src="{{ asset('bower_components/requirejs/require.js') }}">
</script>
