{% extends "AppBundle::layout.html.twig" %}

{% block title %}Картина "{{ pictureMain.title }}" {% endblock %}

{% block body %}
    <div class="row az-page-main-section-div">
        {% include('AppBundle:Component:Blocks/breadcrumb.html.twig') %}
    </div>
    <div class="row az-page-main-section-div">
        <div class="col-md-9 container-fluid">
            <div class="row page-title az-picture-page-title">Картина "{{ pictureMain.title }}"</div>
            <div class="row az-picture-page-author-articul-div">
                <div class="col-md-6">Автор: <a href="#">{{ pictureMain.author.name }}</a></div>
                <div class="col-md-6">Артикул: {{ pictureMain.code }}</div>
            </div>
            {% if pictureMain.imageBanner and pictureMain.imageBanner.getFilename() %}
                {% set img = '/files/pictures/thumb/' ~ pictureMain.imageBanner.getFilename() %}
            {% else %}
                {% set img = asset('bundles/app/images/default_picture.jpg') %}
            {% endif %}
            <div class="row text-center">
                <img src="{{ img }}" class="admin-preview"/>
            </div>
            <div class="row">Выбор цвета стены</div>
        </div>
        <div class="col-md-3 container-fluid">
            <div class="row az-picture-page-constructor-block">Отложенные блок</div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/price.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/type.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/size.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/material.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/thickness.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/choose.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">
                {% include('AppBundle:Component:Constructor/price.html.twig') %}
            </div>
            <div class="row az-picture-page-constructor-block">Соц сети блок</div>
        </div>
    </div>
    {% include('AppBundle:Component:Blocks/similar.html.twig') %}
{% endblock %}
