{% extends "AppBundle::layout.html.twig" %}

{% block title %}Оформить заказ{% endblock %}

{% block meta_keywords %}{% if site_settings is defined and site_settings and site_settings.seo_keywords is defined and site_settings.seo_keywords %}{{ site_settings.seo_keywords }}{% else %}
    картины,картины на заказ
{% endif %}
{% endblock %}

{% block meta_description %}{% if site_settings is defined and site_settings and site_settings.seo_description is defined and site_settings.seo_description %}{{ site_settings.seo_description }}{% else %}
    картины,картины на заказ, сайт продаж картин
{% endif %}
{% endblock %}

{% block body %}
    <div class="row az-page-main-section-div">
        {% include('AppBundle:Component:Blocks/breadcrumb.html.twig') %}
    </div>
    <div class="row az-page-main-section-div az-page-category-main-section-div">
        <div class="col-md-12 container-fluid">
            <div class="row page-title az-picture-page-title"><div class="col-md-9">  Корзина </div>
                <div class="col-md-3">
                    <div class="row az-picture-page-constructor-block hidden" id="az-picture-page-sidebar-deffered-div">
                    <div class="col-md-12">
                        <a href="{{ path('deferred') }}">
                            <button class="btn az-btn-delayed-image">Отложенные <span id="az-picture-page-sidebar-deffered-div-count">0</span></button>
                        </a>
                    </div></div> </div>
        </div>
            {% if cart %}
                <div class="row az-category-page-pictures-div">

                    <div class="col-md-12 az-page-section-body az-page-main-popular container-fluid">
                        <div class="row">
                            {% for item in cart %}

                            {% include('AppBundle:Component:cart.picture.cell.html.twig') %}
                            {% if loop.index != 1 and loop.index % 3 == 0 %}
                        </div>
                        <div class="row">
                            {% endif %}

                            {% endfor %}
                        </div>
                    </div>

                    <div class="row container-fluid">

                        <div class="col-md-6">
                            <button class="btn_az-main-popular_defer delete_order-bnt delete_cart-btn" data-id="">Продолжить покупки</button>
                        </div>
                        <div class="col-md-6 text-center az-picture-page-sidebar-header-block az-picture-page-sidebar-price ">Стоимость заказа:
                            <span>{{ total_price }}</span> BYN
                        </div>
                    </div>
                    <div class="col-md-12 container-fluid">
                        <h2>Оформление заказа</h2>

                        <span class="az-rewievs-comment"> Пожалуйста, внесите свои данные в поля формы. Поля формы, отмеченные * обязательны для заполнения</span>
                        <div class="row az-add-review-container">
                            {{ form_start(form) }}
                            <div class="col-md-6">
                                {{ form_row(form._token) }}
                                {{ form_row(form.fullname) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.phone) }}
                            </div>
                            <div class="col-md-6">{{ form_row(form.city) }}
                                {{ form_row(form.address) }}
                                {{ form_row(form.company) }}
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(form.comment) }}
                                    {{ form_row(form.conditions) }}
                                    {{ form_row(form.save) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row az-category-page-pictures-div">
                    У вас в корзине нет картин.
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
