{% extends "AppBundle::layout.html.twig" %}

{% block title %}Отзывы{% endblock %}

{% block body %}

    <div class="col-md-12 container-fluid">
    <div class="row az-page-main-section-div">
        {% include('AppBundle:Component:Blocks/breadcrumb.html.twig') %}
    </div>

        <div class="row az-page-main-section-div">

        <div class="col-md-12 container-fluid">
            <div class="row page-title az-picture-page-title">Отзывы</div>
            {# rewiews body #}
            {% for article in pagination %}

                <div class="row az-reviews">
                    <a name="review{{ article.id }}"></a>
                    <div class="col-md container-fluid">
                        <div class="row">
                            <div class="col-md-6 az-reviews-name">{{ article.name }}</div>
                            <div class="col-md-6 az-rewiews-date">{{ article.createdAt | date('Y-m-d') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md az-rewiews-article">{{ article.review }}</div>
                        </div>

                </div> <div class="bottomarrowleft"></div> </div>


            {% endfor %}

            {# display navigation #}
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
        <div class="row az-page-main-section-div">
    <div class="col-md-12 container-fluid">
        <h2>Оставьте свой отзыв</h2>

        <span class="az-rewievs-comment"> Ваш отзыв будет добавлен на страницу только после проверки модератором</span>
        <div class="row az-add-review-container">

                <form id="add_review">
                    <div class="col-md-6">
                  <div><label class="az-add_review_name" for="name">Ф.И.О.</label>
            <input id="az-add_review_name" name="add_review_name" required />
           </div>
              <div><label class="az-add_review_email" for="email">Email</label>
            <input id="az-add_review_email" name="add_review_email" required />
              </div>
               <div>
            <label class="az-add_review_city" for="city">Город</label>
            <input id="az-add_review_city" name="add_review_city" />
               </div>
           </div>
           <div class="col-md-6">
            <label class="az-add_review_description" for="description">Отзыв</label>
            <textarea id="az-add_review_description" name="az-add_review_description"
                      placeholder="Введите текст отзыва" required></textarea>
               <button class="btn btn-bg az-header-feedback-btn" type="submit">Отправить</button>
           </div>

    </form></div></div></div>
        {% endblock %}
